@{
    ViewData["Title"] = "Home Page";
}

<div class="p-4 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Video Streaming</h1>
        <p class="col-md-7 fs-4">
            In this demo, you will see how you can stream MP4 videos with MPEG-DASH format. Click
            <a href="https://www.keycdn.com/support/mpeg-dash"> here</a>
            to know more about Streaming.
        </p>
    </div>
</div>
<div>
    <div class="code">
        <video width="1000" height="600" data-dashjs-player="" autoplay controls>
            <source src="~/content/output/finalsamplevid.mpd" type="application/dash+xml">
            Your browser does not support the video tag.
        </video>
    </div>
</div>